body{
    margin:0;
    padding:0;
    font-family:roboto;
    line-height: 1.5em;
  }
  
  #site_wrap{
    background-color:white;
    height:100vh;
    display:grid;
    grid-template-columns:
      1fr 
      repeat(4,minmax(0,268px))
      1fr
      ;
    grid-gap:5px;
    grid-template-rows:
      83px
      83px
      324px
      436px
      384px
      1fr;
    grid-template-areas:
      "header header header header header header"
      "nav nav nav nav nav nav"
      "hero hero hero hero hero hero "
      ". main1 main2 main3 main4 ."
      ". profile1 profile1 profile2 profile2 ."
      "footer footer footer footer footer footer"
      
      
  }
  
  .header{
    background-color:#F3EBE5;
    grid-area:header;
    align-items:center;
    display:flex;
    padding-left: 145px;
    font-size: 27px;
    font-weight: bold;
    
  }
  .nav {
    background-color: white;
    grid-area: nav;
    display:flex;
    align-items:center;
    justify-content: space-between;
    list-style:none;
  }
  
  .nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size:16px;
    padding: 110px;
  }
  
  .search-bar {
    padding: 0;
    margin-left: 200px;
  }
  
  .search-bar input[type="text"] {
    width: 358px;
    height:20px;
    padding: 5px;
    border-radius: 12px; 
  }
  
  .hero{
    background-image:url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=2021&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    grid-area:hero;
    background-position: center 60%;
    background-size:cover;
  }
  
  .hbox {
    float:right;
    margin:45px 145px;
    height: 197px;
    width: 334px; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .hbox-header {
    font-weight: bold;
    color: #8D2143;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .hbox-content {
    padding:15px;
  }
  
  .hbox-button {
    padding: 10px 20px;
    background-color: #8D2143;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .main1{
    background-image: url('https://images.unsplash.com/photo-1528127269322-539801943592?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    grid-area:main1;
    background-position: center 60%;
    width: 167px;
    height: 167px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px 60px;
  }
  .main2{
    background-image:url('https://images.unsplash.com/photo-1579264670959-286d7b06f1ae?q=80&w=1957&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    grid-area:main2;
    background-position: center 60%;
    width: 167px;
    height: 167px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px 60px;
      
  }
  .main3{
    background-image:url('https://images.unsplash.com/photo-1550340499-a6c60fc8287c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    grid-area:main3;
    background-position: center 60%;
    width: 167px;
    height: 167px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px 60px;
  }
  .main4{
    background-image:url('https://images.unsplash.com/photo-1580996378027-23040f16f157?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    grid-area:main4;
    background-position: center 60%;
    width: 167px;
    height: 167px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px 60px;  
  }
  
  .profile1{
    background-image:url('https://images.unsplash.com/photo-1578271887552-5ac3a72752bc?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position:40% 50%;
    grid-area:profile1;
    height:384px
  }
  .ptext1{
    margin: 360px 0px;
  }
  .profile2{
   background-image:url('https://images.unsplash.com/photo-1528181304800-259b08848526?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position:30% 50%;
    grid-area:profile2;
    height:384px
  }
  .ptext2{
    margin: 360px 0px;
  }
  
  .footer {
    background-color: #F3EBE5;
    grid-area: footer;
    display:flex;
    align-items:center;
    justify-content: space-between;
    list-style:none;
  }
  
  .footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size:16px;
    padding: 110px;
  }
  
  
  
  
  @media screen and (max-width:480px){
  }
  
  